body
{
	font-family: 'Raleway', arial, helevetica, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	opacity: 0;
}

#mainHeader
{
	width: 100%;
	background: #fff;
	z-index: 999;
	position: fixed;
	opacity: .8;
}

.title-bar
{
	background-color: #000;
	min-height: 60px;
	z-index: 999;
	
}

.menu-icon
{
	margin-top: 15px;
}

.menu-icon::after
{
	background: #fff;
	box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
}

.menu-icon:hover::after
{
	background: #ff6600;
	box-shadow: 0 7px 0 #ff6600, 0 14px 0 #ff6600;
	transition: all .5s ease;
}

#mainNav
{
	list-style: none;
	text-align: center;
	margin: 0;
}

#mainNav li a
{
	display: block;
	padding: 10px;
	color: #000;
}

#mainNav li a:hover
{
	background-color: #fff;
	color: #ff6600;
	transition: all .5s ease;
}

#mainNav li
{
	border-bottom: 1px solid #2F2F2F;
}

#mainNav li:last-child
{
	border-bottom: none;
}

#headerBackground
{
	min-height: 60px;
}

#qijiaLogo
{
	display: block;
	margin-top: 18px;
	max-width: 36px;
}

#promoText
{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 900;
	font-size: 1.375em;
	line-height: 30px;
	margin-top: 130%;
	position: absolute;
}

#promoBackground
{
	margin-bottom: 90px;
}

#aboutMe
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.375em;
	line-height: 30px;
	color: #000;
	margin-bottom: 90px;
}

#careerTitle p
{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 2.187em;
	line-height: 0px;
	margin-bottom: 20px;
	margin-left: 12px;
}

#careerTitle hr
{
	border: none;
  	border-top: 3px solid #000;
	margin-left: 17px;
	width: 100px;
	margin-bottom: 44px;
}

#eagle, #gaoshi, #northLand, #yigouguanjing
{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 1.375em;
	line-height: 28px;
	margin-bottom: 40px;
}

#about
{
	margin-bottom: 80px;
	opacity: 0;
	transition: all .5s;
}

#worksBackground
{
	background-color: #000;
	margin-bottom: 100px;
}

#worksTitle p
{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 2.187em;
	line-height: 0px;
	margin-bottom: 20px;
	margin-left: 12px;
}

#works
{
	opacity: 0;
	transition: all .5s;
}

#worksTitle hr
{
  	border: none;
  	border-top: 3px solid #fff;
	width: 90px;
	margin-left: 17px;
	margin-bottom: 53px;
}

#worksTitle
{
	margin-top: 130px;
}

#worksImgs
{
	margin-top: 100px;
}

.parent-image
{
	opacity: 1;
	transition: all .5s ease;
}

.parent-image:hover
{
	opacity: .6;
	transform: scale(1.1);
}

#LOTR, #LEDC, #curnican, #crown, #nfl, #cakeShop, #mini, #teaHouse, #bank, #conference
{
	margin-bottom: 13px;
	cursor: pointer;
	overflow: hidden;
}

#lindt, #chinaMobile
{
	cursor: pointer;
	margin-bottom: 150px;
	overflow: hidden;
}

#contact
{
	opacity: 0;
	transition: all .5s;
}

#contactTitle p
{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 2.187em;
	line-height: 0px;
	margin-bottom: 20px;
	margin-left: 12px
}

#contactTitle hr
{
	border: none;
  	border-top: 3px solid #000;
	margin-left: 15px;
	width: 120px;
	margin-bottom: 53px;
}

#contactForm label
{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 1.375em;
}

#name, #email, #message
{
	border: 2px solid #000;
	-moz-box-shadow: 2px 2px 2px #cccccc inset;
	-webkit-box-shadow: 2px 2px 2px #cccccc inset;
	box-shadow: 2px 2px 2px #cccccc inset;            
}

#message
{
	margin-bottom: 40px;
}

#submitMessage
{
	cursor: pointer;
	border: none;
	background-color: #999999;
	padding: 5px 60px 5px 60px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 700;
	display: block;
	margin: 0 auto;
	margin-bottom: 70px;
}

#submitMessage:hover
{
	background-color: #ff6600;
	transition: all .5s ease;
}

#sendEmail p
{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 1.375em;
	text-align: center;
	line-height: 30px;
}

#sendEmail p a
{
	color: #ff6600;
	border-bottom: 3px solid #ff6600;
}

#sendEmail
{
	margin-bottom: 70px;
}


#sendMessageResult
{
	color: red;
	margin-top: -50px;
	text-align: center;
	display: none;
}

#icons
{
	margin-top: 34px;
	text-align: center;
}

#icons a
{
	margin-right: 10px;
	opacity: .5;
}

#icons a:hover
{
	transition: all .5s ease;
	opacity: 1;
}

#icons a:last-child
{
	margin-right: 0;
}

#footerBackground
{
	height: 100px;
	background-color: #000;
}

.lightbox
{
	position: fixed;
	display: none;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 5000;
}

.close-lightbox
{
	float: right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	color: #fff;
	cursor: pointer;
	opacity: .3;
}

.close-lightbox:hover
{
	opacity: 1;
	transition: all .5s ease;
}

.lightbox-img
{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 40%;
}

.lightbox-desc
{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

#lightboxLink
{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-weight: 700;
	color: #ff6600;
	display: block;
	text-align: center;
	cursor: pointer;
}

#lightboxLink:hover
{
	color: #fff;
	transition: all .5s ease;
}

#lightboxCloseButton
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #fff;
	display: block;
	text-align: center;
	cursor: pointer;
	opacity: .3;
}

#lightboxCloseButton:hover
{
	opacity: 1;
	transition: all .5s ease;
}








@media screen and (min-width: 30em) {
	#promoText
	{
		font-size: 1.8em;
		line-height: 33px;
	}
}

@media screen and (min-width: 35.5em) {
	#promoText
	{
		font-size: 2.3em;
		line-height: 40px;
	}
}

@media screen and (min-width: 40em) {
	#mainHeader
	{
		background-color: #000;
		min-height: 60px;	
	}
	
	
	#mainNav
	{
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		margin-top: 25px;
		text-align: right;
		font-size: 0.8em;
	}
		
	#mainNav li
	{
		display: inline;
		border-bottom: none;
		margin-left: 5%;
	}

	#mainNav li a
	{
		padding: 0;
		display: inline;
	}
	
	#mainNav li a:first-child
	{
		color: #fff;
		margin-left: 0;
	}

	#mainNav li a:hover
	{
		color: #ff6600;
		background-color: transparent;
	}
	
	#menuLogo
	{
		padding: 0;
	}
	
	#qijiaLogo
	{
		margin-top: 15px;
		margin-left: 0px;
		min-width: 40px;
	}
	
	#promoText
	{
		padding: 0;
		margin-top: 35%;
		font-size: 1.4em;
		line-height: 25px;
	}
	
	#careerTitle p
	{
		font-size: 2.7em;
		margin-left: 0;
		margin-bottom: 25px;
	}
	
	#careerTitle hr
	{
		border-top: 4px solid #000;
		margin-left: 5px;
		width: 120px;
		margin-bottom: 70px;
	}
	
	#companies
	{
		margin-top: 100px;
	}
	
	#companies p
	{
		font-size: 1.6em;
	}
	
	#aboutMe
	{
		font-size: 1.7em;
		margin-bottom: 120px;
	}
	
	#worksTitle p
	{
		font-size: 2.7em;
		margin-left: 0;
		margin-bottom: 25px;
	}
	
	#worksTitle hr
	{
	  	border-top: 4px solid #fff;
		width: 110px;
		margin-left: 7px;

	}
	
	#contactTitle p
	{
		font-size: 2.7em;
		margin-bottom: 25px;
		margin-left: 0px
	}
	
	#contactTitle hr
	{
	  	border-top: 4px solid #000;
		margin-left: 9px;
		width: 140px;
		margin-bottom: 53px;
	}
	
	#footerBackground
	{
		height: 170px;
	}
	
	#icons
	{
		margin-top: 65px;
	}
	
	#icons a img
	{
		min-width: 45px;
		margin-right: 20px;
	}
	
	#sendEmail p
	{
		font-size: 1.7em;
		line-height: 30px;
	}	
}

@media screen and (min-width: 48em) {
	#promoText
	{
		margin-top: 35%;
		font-size: 1.9em;
		line-height: 35px;
	}
}


@media screen and (min-width: 50em) {
	#promoText
	{
		margin-top: 35%;
		font-size: 1.7em;
		line-height: 30px;
	}
}

@media screen and (min-width: 64em) {
	#mainHeader
	{
		background-color: #000;
		min-height: 90px;	
	}
	
	#qijiaLogo
	{
		margin-top: 20px;
		min-width: 60px;
	}
	
	#mainNav
	{
		margin-top: 30px;
		font-size: 1.14em;
	}
	
	#mainNav li 
	{
		margin-left: 5%;
	}
	
	#promoText
	{
		margin-top: 35%;
		font-size: 2.3em;
		line-height: 40px;
	}
	
	#promoBackground
	{
		margin-bottom: 150px;
	}
	
	#careerTitle p
	{
		font-size: 3.5em;
		margin-left: 0;
		margin-bottom: 30px;
	}
	
	#careerTitle hr
	{
		margin-left: 7px;
		width: 150px;
	}
	
	#companies p
	{
		font-size: 2em;
		line-height: 35px;
	}
	
	
	#aboutMe
	{
		font-size: 2em;
		margin-bottom: 120px;
		line-height: 40px;
	}
	
	#about
	{
		margin-bottom: 170px;
	}
	
	#worksTitle
	{
		margin-top: 190px;
		margin-bottom: 60px;
	}
	
	#worksTitle p
	{
		font-size: 3.5em;
		margin-left: 0;
		margin-bottom: 30px;
	}
	
	#worksTitle hr
	{
	  	border-top: 4px solid #fff;
		width: 150px;
		margin-left: 7px;

	}
	
	#contactTitle p
	{
		font-size: 3.5em;
		margin-left: 0;
		margin-bottom: 30px;
	}
	
	#contactTitle hr
	{
		margin-left: 9px;
		width: 180px;
		margin-bottom: 53px;
	}
	
	#worksBackground
	{
		margin-bottom: 170px;
	}
	
	#footerBackground
	{
		height: 200px;
	}
	
	#icons
	{
		margin-top: 65px;
	}
	
	#icons a img
	{
		min-width: 60px;
		margin-right: 20px;
	}
	
		#sendEmail p
	{
		font-size: 2em;
		line-height: 40px;
	}	

}





@media screen and (min-width: 64em) {	
	#promoImg1 { display: none; }
	#promoImg2 { display: none; }
	#promoImg3 
	{ 
		width: 100%;
		display: block;
		text-align: center;
		background-color: #000;
	}
	
}

@media screen and (min-width: 40em) and (max-width: 63.937em) {
	#promoImg1 { display: none; }
	#promoImg2 
	{ 
		width: 100%;
		display: block; 
	}
	#promoImg3 { display: none; }
}

@media screen and (max-width: 39.937em) { 
	#promoImg1 img
	{ 
		width: 100%;
		display: block;
	}

#promoImg2 { display: none; }
#promoImg3 { display: none; }
}
